.menuStruktur {
    display: flex;
    color: white;
    margin-left: 50px;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 16px;
    background-color: #0a5493;
    border-radius: 22px;
    height: 430px;
}


.menuStruktur div :hover{
    cursor: pointer;
}


.menuStruktur div{
    padding-right: 3%;
    height: auto;
}

.menuStruktur div p{
   margin-left: 40px;
}
.content-byMenu{
    height: 110vh;
    margin-left: 60px;
}

.choose{
    font-weight: bold;
    background-color: #4081b9;
}


.profile-box{
    border-top-left-radius: 50%; 
    border-top-right-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: rgb(208, 208, 208);
}

